.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sdg-filter-images {
    align-content: center;
    max-width: fit-content;
}

.sdg-filter-images img {
    max-width: 5%;
    min-width: 65px;
}
