.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headline {
    align-self: center;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    color: #1A281F;
    font-family: Roboto, sans-serif;
    font-size: initial;
}

h1 {
    font-family: Raleway, "Raleway", sans-serif;
    font-weight: bold;
    font-size: xx-large;
}